@model GymApplication_new.Models.MuscleGroupDto
@{
    ViewBag.Title = "View";
}

<a href="/MuscleGroup/List">Go back to list</a>
<h2>@Model.MuscleGroupName</h2>
<div> exercises: @Model.Exercises</div>

