
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<h2>Create Muscle Group</h2>
<form action="/MuscleGroup/Create" method="POST">
    <div>
        <label>Muscle group:</label> <input type="text" name="MuscleGroup" />
    </div>
    <div>
        <label>Exercises:</label> <input type="text" name="Exercises" />
    </div>
    <div>
        <input type="submit" value="Add Info" />
    </div>
</form>


